<div>
    <div ng-show="isAuth">
        <div class="navbar-right" name="user">
            <span>User logged in</span>
        </div>
    </div>
    <div ng-hide="isAuth">
        <form class="navbar-form navbar-right" name="login" role="login" ng-submit="login()" novalidate>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="email"
                       ng-model="credentials.email" required/>
                <input type="password" class="form-control" placeholder="mot de passe"
                       ng-model="credentials.password" required />
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="login.$invalid">
                Connexion
            </button>
            <button class="btn btn-primary" ng-click="ping()">
                Ping
            </button>
        </form>
    </div>
</div>